/* Reset básico */
body, h1, h2, p, div, label, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Globais */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9fafb; /* Cor de fundo suave */
    color: #333;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #344955; /* Cor mais sofisticada */
    padding: 15px 20px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Logo da Navbar */
.logo-container img {
    max-height: 60px;
    margin-right: 20px;
    transition: transform 0.3s ease-in-out;
}

.logo-container img:hover {
    transform: scale(1.05);
}

/* Botões da Navbar */
.navbar-links .link-button {
    background-color: #4A90E2;
    color: white;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    display: inline-block;
    margin: 0 8px;
}

.navbar-links .link-button:hover {
    background-color: #357ABD;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
}

/* Ajuste do Container do Formulário */
.form-container {
    max-width: 97%;
    margin: 50px auto;
    padding: 25px 30px;
    background-color: #ffffff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    animation: fadeIn 0.4s ease-in-out;
}

/* Títulos */
h1 {
    font-size: 26px;
    color: #344955;
    text-align: center;
    margin-bottom: 20px;
}

/* Perguntas */
.question {
    margin-bottom: 25px;
}

.question label {
    font-weight: 600;
    color: #333333;
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}

.question p {
    font-size: 16px;
    color: red;
    margin-bottom: 10px;
}

.question input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    margin-bottom: 15px;
    transition: border-color 0.3s;
}

.question input[type="text"]:focus {
    border-color: #4A90E2;
    outline: none;
}

/* Estilo para Inputs Somente-Leitura */
.question input[readonly] {
    background-color: #f0f0f0;
    color: black;
    border: 1px solid #d1d1d1;
    cursor: not-allowed;
}

/* Botão de Envio */
.form-actions {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button {
    background-color: #4A90E2;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    display: inline-block;
}

.button:hover {
    background-color: #357ABD;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Footer */
.footer {
    background-color: #344955;
    color: white;
    padding: 20px 0;
    margin-top: 40px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
}

.footer-info, .footer-contacts {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.footer-logo {
    margin-bottom: 10px;
}

.footer-logo img {
    max-width: 150px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.footer-logo img:hover {
    transform: scale(1.05);
}

.footer-bottom {
    border-top: 1px solid #4a4a4a;
    padding-top: 10px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}

.footer-content p {
    margin: 5px 0;
    font-size: 14px;
    color: #dddddd;
}

/* Efeitos Visuais e Animação de Fade In */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
